node_modules/
.env
**/.env
**/.env.*
**/.production
**/.env.local
dist/
build/
*.log
.DS_Store
storage/recordings/*
storage/temp/*
!storage/recordings/.gitkeep
!storage/temp/.gitkeep
postgres_data/
redis_data/
minio_data/
ngrok.yml